In [1]:
import pandas as pd
import numpy as np

In [2]:
vdf = pd.read_csv('fruitvegprices-2017_2022.csv')

In [3]:
vdf

         category           item            variety        date  price  unit
0           fruit         apples  bramleys_seedling  2022-03-11   2.05    kg
1           fruit         apples  coxs_orange_group  2022-03-11   1.22    kg
2           fruit         apples    egremont_russet  2022-03-11   1.14    kg
3           fruit         apples           braeburn  2022-03-11   1.05    kg
4           fruit         apples               gala  2022-03-11   1.03    kg
...           ...            ...                ...         ...    ...   ...
9642  cut_flowers    alstromeria             indoor  2017-11-03   0.27  stem
9643  cut_flowers  chrysanthemum       indoor_spray  2017-11-03   0.22  stem
9644  cut_flowers        lillies           oriental  2017-11-03   0.70  stem
9645  cut_flowers      narcissus             indoor  2017-11-03   0.06  stem
9646   pot_plants       cyclamen              13_cm  2017-11-03   0.75  unit

[9647 rows x 6 columns]

## Ejercicios

### Ejercicio uno: realice un analisis de valores nulos

En caso de existir valores nulos elimine esos registros

In [4]:
vdf.isnull().sum(axis = 0)

category    0
item        0
variety     0
date        0
price       0
unit        0
dtype: int64

### Ejercicio dos: Por categoria, cuantos distintos items hay y cuantos distintos variety hay?

El resultado debe de tener el siguiente formato de presentacion:

In [5]:
pd.DataFrame({
    "category" : ['cut_flowers','fruit']
    , "item_count" : [9,10]
    , "variety_Count" : [10,21]
})

      category  item_count  variety_Count
0  cut_flowers           9             10
1        fruit          10             21

In [6]:
df2 = vdf.groupby(['category','variety'])[['item']].count()
df3 = vdf.groupby(['category','item'])[['variety']].count()
df22 = df2.groupby(['category'])[['item']].sum()
df33 = df3.groupby(['category'])[['variety']].sum()
df33
result = df33.join(df22)
result

             variety  item
category
cut_flowers      342   342
fruit           1992  1992
pot_plants        49    49
vegetable       7264  7264

Como nota en un mismo dataframe mostramos todo lo solicitado, usted debe de mostrar todas las categorias

### Ejercicio tres: Para la combinacion item, variety muestre el ultimo valor registrado por año.

Ejemplo de como debe de mostrar su respuesta

In [7]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year" : [2022]
    , "last_price" :  [3.2]
})

      item variety  year  last_price
0  Manzana    Gala  2022         3.2

In [8]:
vdf['year']= vdf['date'].str[0:4]
vdf

,category,item,variety,date,price,unit,year
0,fruit,apples,bramleys_seedling,2022-03-11,2.05,kg,2022
1,fruit,apples,coxs_orange_group,2022-03-11,1.22,kg,2022
2,fruit,apples,egremont_russet,2022-03-11,1.14,kg,2022
3,fruit,apples,braeburn,2022-03-11,1.05,kg,2022
4,fruit,apples,gala,2022-03-11,1.03,kg,2022
...,...,...,...,...,...,...,...
9642,cut_flowers,alstromeria,indoor,2017-11-03,0.27,stem,2017
9643,cut_flowers,chrysanthemum,indoor_spray,2017-11-03,0.22,stem,2017
9644,cut_flowers,lillies,oriental,2017-11-03,0.70,stem,2017
9645,cut_flowers,narcissus,indoor,2017-11-03,0.06,stem,2017
9646,pot_plants,cyclamen,13_cm,2017-11-03,0.75,unit,2017

Consigue el ultimo variety, item de cada anio

In [38]:
vdf["year"] = pd.DatetimeIndex(vdf["date"]).year

vdf = vdf.sort_values(by="date",ascending=True)
df4 = vdf.loc[:,["item","variety","date","year","price"]].groupby(["item","variety","year"], as_index = False).head(1)
df4 = df4.sort_values(by=["item","year"])

df4

             item          variety        date  year  price
9642  alstromeria           indoor  2017-11-03  2017   0.27
9267  alstromeria           indoor  2018-01-12  2018   0.29
9595       apples  egremont_russet  2017-11-03  2017   0.82
9596       apples         braeburn  2017-11-03  2017   0.64
9597       apples             gala  2017-11-03  2017   0.79
...           ...              ...         ...   ...    ...
2474       turnip           turnip  2021-01-08  2021   1.69
311        turnip           turnip  2022-01-07  2022   1.87
9641   watercress     pillow_packs  2017-11-03  2017   8.04
9266   watercress     pillow_packs  2018-01-12  2018  11.09
6911   watercress     pillow_packs  2019-01-11  2019   6.58

[397 rows x 5 columns]

Consigue el ultimo item, variety y anio con precio

In [36]:
dfr2=vdf.sort_values(by="date").drop_duplicates(subset=["variety",'item'], keep="last")
dfr3=dfr2.groupby(["item","variety","year"], as_index = False).max('year')
dfr3

           item            variety  year  price
0   alstromeria             indoor  2018   0.33
1        apples           braeburn  2022   1.05
2        apples  bramleys_seedling  2022   2.05
3        apples  coxs_orange_group  2022   1.22
4        apples    egremont_russet  2022   1.14
..          ...                ...   ...    ...
80     tomatoes              round  2021   0.57
81     tomatoes               vine  2021   1.26
82       tulips             tulips  2022   0.29
83       turnip             turnip  2022   0.63
84   watercress       pillow_packs  2019  10.14

[85 rows x 4 columns]

### Ejercicio cuatro: Segun el ejercicio tres, que tanto aumento o disminuyo el precio de cada item-variety 

Ejemplo de como se debe de mostrar su respuesta

In [11]:
pd.DataFrame({
    "item" : ['Manzana','Manzana','Manzana']
    , "variety" : ['Gala','Gala','Gala']
    , "year" : [2020,2021,2022]
    , "last_price" :  [2.7,2.5,3.2]
    , "delta" : [0, (2.5-2.7), (3.2-2.5)]
})

      item variety  year  last_price  delta
0  Manzana    Gala  2020         2.7    0.0
1  Manzana    Gala  2021         2.5   -0.2
2  Manzana    Gala  2022         3.2    0.7

Segun nuestro ejemplo dummy para 2021 estuvo 0.2 centavos mas barato y en 2022 estuvo 0.7 centavos caro

In [37]:
df5 = df4
df5["delta"] = df4["price"] - df4["price"].shift(1)
df5

             item            variety        date  year  price  delta
9642  alstromeria             indoor  2017-11-03  2017   0.27    NaN
9267  alstromeria             indoor  2018-01-12  2018   0.29   0.02
9594       apples  coxs_orange_group  2017-11-03  2017   0.75   0.46
9595       apples    egremont_russet  2017-11-03  2017   0.82   0.07
9596       apples           braeburn  2017-11-03  2017   0.64  -0.18
...           ...                ...         ...   ...    ...    ...
2474       turnip             turnip  2021-01-08  2021   1.69   0.62
311        turnip             turnip  2022-01-07  2022   1.87   0.18
9641   watercress       pillow_packs  2017-11-03  2017   8.04   6.17
9266   watercress       pillow_packs  2018-01-12  2018  11.09   3.05
6911   watercress       pillow_packs  2019-01-11  2019   6.58  -4.51

[397 rows x 6 columns]

### Ejercicio cinco: Cual es precio promedio por item, variety

Ejemplo de como se debe de mostrar su respuesta

In [ ]:
pd.DataFrame({
    "item" : ['Manzana']
    , "variety" : ['Gala']
    , "year-month" : ['2021-01']   
    , "avg-price" : [0.5]
})

In [39]:
vdf.groupby(['item','variety',vdf['date'].str[0:7]], as_index=False)['price'].agg(['mean'])

                                    mean
item        variety      date
alstromeria indoor       2017-11  0.2700
                         2017-12  0.2800
                         2018-01  0.3100
                         2018-02  0.3275
                         2018-03  0.3040
...                                  ...
watercress  pillow_packs 2019-04  9.4750
                         2019-05  9.5000
                         2019-06  9.4900
                         2019-07  9.4975
                         2019-08  9.9640

[2585 rows x 1 columns]

### Ejercicio seis: muestre por category,item,variety que tanto % ha aumentado su precio

Ejemplo: si para las manzanas gala el primer precio que se registro fue 2.00 y el ultimo precio que se registro es 4.00 este aumento un 100%

In [ ]:
pd.DataFrame({
    "category": ["fruta","fruta"]
    ,"item" : ['Manzana','Manzana']
    , "variety" : ['Gala','egremont_russet']
    , "percentage-change-between-first-and-last-price" : [200,150]       
})

### Ejercicio siete: Segun el ejercicio seis por category cual es el item,variety con mayor aumento de crecimiento 

Segun el ejemplo dummy que se utilizo en el ejercicio seis para la category fruta se mostraria la manzana gala unicamente